.box {
  display: grid;
  grid-template-rows: 2fr, 8fr, 2fr;
  grid-template-columns: 2.5vw 8fr 1fr;
  margin: max(2vh, 2vw);
  width: min(20vw);
  height:max-content;
  background-color: #505050;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.nameofsomething {
  text-align: center;
  grid-row-start: 1;
  width: 20vw;
  height: min-content;
  border-width: 1px;
  border-top: white;
  border-left: white;
  border-right: white;
  color: white;
  font-size: max(1vh, 1vw);
}

.imageofsomething {
  width: 19.9vw;
  height: max-content;
  grid-row-start: 2;
  grid-column-start: 1;
  border-style: solid;
  border-width: 1px;
  color: white;
}

.infoofsomething {
  grid-row-start: 3;
  color: white;
  font-size: max(1vh, 1vw);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.likebutton {
  background-color: #505050;
  width: 10vw;
  height: max-content;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
}

.favoritebutton {
  background-color: #505050;
  width: 10vw;
  height: max-content;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
}
