.box {
  display: flex;
  gap: 55px;
  width: 24rem;
  height:25rem;
  background-color: #505050;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.nameofsomething {
  text-align: center;
  grid-row-start: 1;
  width: 24rem;
  height: 2.5rem;
  color: white;
  font-size: 25px;
}

.imageofsomething {
  width: 24rem;
  height: 20rem;
  grid-row-start: 2;
  grid-column-start: 1;
  border-style: solid;
  border-width: 1px;
  color: white;
}

.infoofsomething {
  grid-row-start: 3;
  color: white;
  font-size: 25px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.likebutton {
  background-color: #505050;
  width: 12rem;
  height: 2rem;
  border-style: solid;
  border-color: white;
  border-width: 0 1px 0 0;
  text-align: center;
}

.favoritebutton {
  background-color: #505050;
  width: 12rem;
  height: 2rem;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: white;
  text-align: center;
}
