.postArea{
  gap: 0px;
  position: sticky;
}


.box {
  margin: 25px;
  z-index: -1;
  /*width: 12rem;
  height:12.5rem;*/
  width: 300px;
  height: 300px;
  margin-top: 40px;
  background-color: #505050;
  border-width: 1px solid white;
}

.nameofsomething {
  text-align: center;
  grid-row-start: 1;
 /* width: 12rem;
  height: 2.5rem;*/
  height: 38px;
  color: white;
  font-size: 25px;
}

.imageofsomething {
  /*width: 11.9rem;
  height: 10rem;*/

  width: 300px;
  height: 225px;
  grid-row-start: 2;
  grid-column-start: 1;
  border-width: 1px solid;
  color: white;
}

.infoofsomething {
  grid-row-start: 3;
  color: white;
  font-size: 25px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.likebutton {
  background-color: #505050;
  width: 150px;
  border-style: solid;
  border-color: white;
  border-width: 0 1px 0 0;
  text-align: center;
}

.favoritebutton {
  background-color: #505050;
  width: 150px;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: white;
  text-align: center;
}


 