.header {
  background-color: #ffffff;
  padding: 1rem;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #c0c0c0;
  z-index: 500;
  top: 0px;
  left: 0px;
  right: 0px;
}

.ms_logo {
  border-radius: 30px;
  height: 100px;
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
}
.minititle {
  text-align: center;
  font-weight: 200;
  font-size: 30px;
}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 70px;
}

a {
  text-decoration: none;
  color: inherit;
}
