main {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  padding: 2vh;
  background-image: linear-gradient(90deg, #ab058b 0, indigo 100%);
  height: max-content;
}
a, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}



