* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

header {
  background-image: linear-gradient(90deg, white 0, black 100%);
  height: 10vh;
  display: grid;
  grid-row: span;
}

main{
    background-color: black;
}

footer{
    background-image: linear-gradient(90deg, white 0, gray 100%);
    max-height: max-content;
}

.Title {
  margin-left: max(2vh, 2vw);
  margin-top: max(2vh, 2vw);
}

.Title:hover {
  font-size: max(2vh, 2vw);
}


.box {
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  margin: max(2vh, 2vw);
  width: max(20vh, 20vw);
  height: max(25vh, 25vw);
  background-image: linear-gradient(90deg, white 0, black 100%);
  border-width: max(5vh, 5vw);
  border-image: linear-gradient(90deg, #ab058b 0, indigo 100%); 
  
}

.nameofsomething{
  grid-row-start: 1;
  grid-column-start: 3;
    border-width: 100vw;
    border-color: white;
    width: max-content;
    height: min-content;

}


.imageofsomething{
  width: max(90%,15vw);
  height: max(15vw,100%);
  grid-column-start: 2;
  grid-row-start:3;
}

.infoofsomething {
  grid-row-start: 10;
  color: white;
  font-size: max(1vh, 1vw);
}
.likebutton{
  grid-column-start: 1;
  grid-row-start: 1;
  border-color: black;
}

.favoritebutton{

  background-color: black ;
  width: max(10vh, 10vw);
  height: 7vh;
  border-width: 2vh;
  border-color: orange;
  grid-column-start: 1;
  grid-row-start: 7;
}
