* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

header {
  background-image: linear-gradient(90deg, white 0, black 100%);
  height: 10vh;
  display: grid;
  grid-row: span;
}

main{
    padding:2vh;
  background-image: linear-gradient(90deg, #ab058b 0, indigo 100%);
}

footer{
    background-image: linear-gradient(90deg, white 0, gray 100%);
    max-height: max-content;
}

.Title {
  margin-left: max(2vh, 2vw);
  margin-top: max(2vh, 2vw);
}

.Title:hover {
  font-size: max(2vh, 2vw);
}


.box {
  display: grid;
  grid-template-rows: 2fr 8fr 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  margin: max(2vh, 2vw);
  width: max(20vh, 20vw);
  height: max(25vh, 25vw);
  background-image: linear-gradient(90deg, white 0, black 100%);

  
}

.nameofsomething{
  grid-row-start: 1;
  grid-column-start: 2;
  border-width: 100vw;
  border-color: white;
  width: max-content;
  height: min-content;
}


.imageofsomething{
  width: max(90%,15vw);
  height: max(15vw,100%);
  grid-row-start:2;
  grid-column-start: 0;
}

.infoofsomething {
  grid-row-start: 3;
  color: white;
  font-size: max(1vh, 1vw);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.likebutton{
  background-image:linear-gradient(90deg, #ab058b 0, indigo 100%);
  width: max(10vh, 10vw);
  height: 7vh;
  border-style: solid;
  border-width: 0.5vh;
  border-color: orange;
}

.favoritebutton{

  background-image:linear-gradient(90deg, #ab058b 0, indigo 100%);
  width: max(10vh, 10vw);
  height: 7vh;
  border-style: solid;
  border-width: 0.5vh;
  border-color: red;  
}
